#kmap td {
    padding: 10px 30px;
}

#truth-table td {
    padding: 10px;
}

#cd {
    margin-right: 30px;
}

#truth-table .interpadding {
    border: none;
}

@media screen and (max-width:1100px) {

    .column {
        position: relative;
        right: 55px;
    }

    #main-container {

        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: flex-end;
        flex-direction: column;
    
    }

    #kmap {
        position: relative;
        left: 10px;
        bottom: 15px;
    }

    #truth-table {
        position: relative;
        left: 50px;
    }

}